{% extends 'base.html' %}

{% load static %}

{% block title %}{% endblock %}
{% block content %}
    <div>
        <h1>Accounts</h1>
        <table>
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Number</td>
                    <td>Number of Receipts</td>
                </tr>
            </thead>
            <tbody>
                {% for item in account.all %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.number }}</td>
                        <td>{{ item.receipts.all|length }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
